html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
}

.logo {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.logo-img {
  width: 50px;
}

.logo-title {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 600;
}

.header--logo {
  display: flex;
  flex-shrink: 0;
  /* margin: 0 40px; */
  padding: 0;
  align-items: center;
}

.header {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-around;
}

.header-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
  /* margin-right: 30px; */
}

p {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

ul {
  list-style-type: none;
  margin: 0 20px;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

li {
  margin-bottom: 10px;
}

/* Section 01 */
.description-container {
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.description-title {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description-text {
  font-size: 48px;
  margin-top: 30px;
}

.description-img {
  width: 450px;
  height: 250px;
  background-color: aliceblue;

  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 10px;
  box-shadow: 1px 3px 2px #3b4a5e;
}

.description-container {
  gap: 10px;
}

.description-btn {
  padding: 8px;
  margin-top: 10px;
  width: 100px;
  background-color: #3882f6;
  border-color: #3882f6;
  border-radius: 8px;
  color: #e5e7eb;
}

/* Section 02 */
.card-img {
  width: 200px;
  width: 200px;
  height: auto;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 20px;
  height: 450px;
  margin: 10px;
}

.photo-grid-title {
  font-size: 36px;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  gap: 10px;
  margin: 10px;
}

.photo-grid-item {
  text-align: center;
}

.card-img {
  /* border: 2px solid #3882f6; */
  border-radius: 16px;
  margin: 10px;
  box-shadow: 2px 3px 2px #3b4a5e;
  width: 200px;
}

.photo-grid-text {
  padding: 10px;
}

/* Section 03 - Cite */
.cite-grid-container {
  background-color: #e5e7eb;
  height: 550px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.cite-grid {
  width: 900px;
  display: flex;
  flex-direction: column;
}

.cite-text,
.cite-author {
  color: #1f2937;
  font-size: 36px;
  padding: 10px;
}

.cite-author {
  font-weight: 600;
  text-align: right;
}

/* Section 04 */
.call-action-container {
  display: flex;
  height: 450px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.call-action {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 250px;
  background-color: #3882f6;
  border-radius: 16px;
  justify-content: space-around;
  padding: 20px;
  margin: 10px;
  gap: 50px;
}

.call-action-title {
  font-size: 36px;
  font-weight: 700;
  padding: 10px 0;
}

.call-action-btn {
  padding: 8px;
  margin-top: 10px;
  width: 130px;
  height: 40px;
  background-color: #3882f6;
  border-color: white;
  border-radius: 8px;
  color: #e5e7eb;
  font-weight: 700;
  font-size: 18px;
}

/* Footer */
.footer-container {
  height: 150px;
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

footer {
  font-size: 24px;
}
